
@media (min-width: 390px) {
    .animated_title::after {
        background-color: var(--gradient-color);
        border-radius: 3px;
        bottom: -3px;
        content: "";
        height: 4px;
        left: 0;
        margin-left: 1px;
        position: absolute;
        right: 0;
        width: 40px;
        z-index: -1;
    }
}