.cursor {
    position: relative;
}

.cursor::after {
    animation: cursor 1s linear 3s normal infinite !important;
    border-left: 3px solid var(--text-color);
    border-radius: 100px;
    bottom: 0;
    color: white;
    content: "";
    height: 100%;
    margin-left: 2px;
    position: absolute;
}

@keyframes cursor {
    70% {
      border-left-color: transparent;
    }
}