.timeline_item_container {
    position: relative;
}

.timeline_item {
    margin-inline: 4.8rem;
    padding-bottom: 3.0rem;
}

.timeline_item::before {
    border-left: 2px solid #ffffff26;
    content: "";
    height: 100%;
    left: 0;
    width: 200px;
    position: absolute;
}


.timeline_item span::before {
    content: "•";
    font-size: 4rem;
    left: -10px;
    position: absolute;
    color: #1893dd;
}