.section_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 90rem;
  width: 100%;
}

.performance {
  /* content-visibility: auto; */

  /* 
    Optimización de rendimiento:
    - content-visibility: auto evita renderizar esta sección hasta que entra en viewport (lazy rendering real del browser)
    - contain-intrinsic-size define un tamaño estimado mientras no se renderiza

    Usamos "500px" para:
    - evitar layout shift (CLS) cuando el contenido aún no está renderizado
    - permitir que el navegador “aprenda” el tamaño real después del primer render

    400px es un valor base aproximado; el navegador lo ajusta automáticamente tras el render real.
  */
  /* contain-intrinsic-size: auto; */
}

.separator {
  height: 3rem;
}

@media (min-width: 550px) {
  .separator {
    height: 7rem;
  }
}

@media (min-width: 1400px) {
  .section_container {
    max-width: 110rem;
  }
}
