.container {
  align-items: center;
  background-image: url("/images/dark.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-bottom: 5rem;
  width: 100%;
}

.content {
  padding-inline: var(--padding-inline);
}