.container {
  align-items: center;
  background-image: url("/images/bg_mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-bottom: 5rem;
  width: 100%;
}

.content {
  padding-inline: var(--padding-inline);
}


@media (min-width: 700px) {
  .container {
    background-image: url("/images/bg_tablet.webp");
  }
}


@media (min-width: 1200px) {
  .container {
    background-image: url("/images/bg.webp");
  }
}