.progress_bar {
  background: linear-gradient(
    90deg,
    var(--first-gradient-color),
    var(--fourth-gradient-color)
  );
  border-radius: 5px;
  height: 3px;
  position: fixed;
  top: 0;
  transform-origin: left;
  transition: 0s;
  width: 100%;
  z-index: 2;
}
