.text_gradient_config {
    background: linear-gradient(90deg, #0691ee, #0f98dc, #2c87e1, #39a6ef);
    background-clip: text;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.4s ease, background-size 0.4s ease;
    white-space: nowrap;
    -webkit-background-clip: text;
}

.in_hover {
    color: inherit
}

.in_hover:hover {
    color: transparent;
}

.text_gradient {
    color: transparent !important;
}