.text_gradient {
    background-image: linear-gradient(to right,
            var(--text-gradient-from),
            #a855f7,
            var(--text-gradient-to, rgba(168, 85, 247, 0)));
    background-clip: text;
    color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-background-clip: text;
}