.typing {
    position: relative;
    white-space: nowrap;
}

.typing::after {
    animation: typing 1.5s steps(30) 2.6s forwards infinite, cursor 0.6s linear 2.67s backwards infinite;
    background-color: transparent;
    border-left: 3px solid transparent;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

@keyframes typing {
    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes cursor {
    to {
        border-color: var(--text-color);
    }
}
