.text {
  color: white;
  font-size: clamp(2.6rem, 2.5vw, 4.8rem);
  text-align: center;
}

.list {
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
  padding-right: 1rem;
}

.list_item {
  animation: slide 4.5s steps(3) 2.6s forwards infinite;
  position: relative;
  top: 0;
}

@keyframes slide {
  100% {
    top: -300%;
  }
}

@media (min-width: 1000px) {
  .list {
    height: 6rem;
    line-height: 6rem;
  }
}