body .navbar__hidden {
    box-shadow: none;
    right: -80%;
}

.toast__visible {
    opacity: 1;
    transform: translateY(0) scale(99%);
}

.toast__hidden {
    opacity: 0;
    transform: translateY(150%) scale(40%);
}

@media (min-width: 550px) {
    .navbar__hidden {
        right: 0;
    }
}