:root {
  --background: #191919;
  --gradient-from: #0ea5e9;
  --gradient-to: #db2777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
