.expand_container {
    display: flex;
    justify-content: center;
    bottom: 5rem;
    position: absolute;
}

.expand {
    cursor: pointer;
    transform: translateY(0);
    transition: 0.5s;
}

.expand:hover {
    transform: translateY(5px);
}

.stop {
    stop-opacity: 1;
    transition: 0.5s;
}

.white_stop {
    stop-color: white;
}

.first_stop {
    stop-color: var(--text-gradient-from);
}

.second_stop {
    stop-color: var(--text-gradient-to);
}