.single_typing {
    position: relative;
    white-space: nowrap;
}

.no_border {
    border-left: none;
}

.single_typing::after {
    animation: typing 1.5s steps(60) 1.8s forwards 1;
    border-left: 3px solid var(--text-color);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@keyframes typing {

    50% {
        left: 100%;
    }

    99% {
        left: 100%;
    }


    100% {
        left: 100%;
        border-left: none;
    }
}