.header {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.nav {
    align-items: center;
    backdrop-filter: blur(50px);
    border-radius: 30px;
    column-gap: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
}

.nav_link {
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.5rem;
    position: relative;
}

.focusable::after {
    cursor: pointer;
    display: block;
    content: '';
    border-bottom: 1px solid var(--text-color);
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.5s ease-in-out;
}

.focusable:hover::after {
    cursor: pointer;
    transform: scaleX(1);
    transform-origin: 0% 50%;
}