.carousel_button {
  align-items: center;
  background-color: var(--gradient-color);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s background;
  z-index: 10;
}

.carousel_button_disabled {
  background-color: #053868;
  cursor: not-allowed;
}

.carousel_button_left {
  transform: translateX(10px);
}

.carousel_button_right {
  transform: translateX(-10px);
}

.carousel_icon_left {
  transform: rotate(90deg);
}

.carousel_icon_right {
  transform: rotate(-90deg);
}
