.button {
  position: fixed;
  right: 20px;
  top: 20px;
  visibility: visible;
  width: 2.5rem;
  z-index: 4;
}

.overlay {
  background: black;
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms, visibility 0s;
  visibility: hidden;
  width: 100vw;
  z-index: 2;
}

.overlay__active {
  opacity: 0.55;
  visibility: visible;
}


@media (min-width: 550px) {
  .button {
    display: none;
  }
}