.container {
  background-color: #202440;
  border-radius: 0 0 10px 10px;
  border: 1px solid #303034;
  height: 30rem;
  max-width: calc(23rem + 2px);
  padding: 1rem;
  transform: translateY(-2px);
  transition: border-color var(--transition-time);
  width: 100%;
}

.container:hover {
  border-color: #1e466a;
}

.links_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
  width: 100%;
}

.links {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
