.carousel_container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  max-width: 30rem;
  width: 100%;
}

.carousel {
  align-items: center;
  display: flex;
  gap: 1rem;
  max-width: 20rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}
