.text {
    color: white;
}

.centered {
    text-align: center;
}

.xl {
    font-size: clamp(2.6rem, 2.5vw, 4.8rem);
}

.title {
    font-size: clamp(2.0rem, 2.5vw, 4.0rem);
}

.subtitle {
    font-size: clamp(2.0rem, 2.5vw, 3.0rem);
}

.text_size {
    font-size: clamp(1.5rem, 2.5vw, 2.0rem);
}

.description {
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
}

.caption {
    font-size: clamp(1.5rem, 2.5vw, 1.4rem);
}