.social_media_container {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 10.0rem;
}

.social_media_icon {
  transform: translateY(0);
  transition: 0.5s;
}

.social_media_icon:hover {
  transform: translateY(5px);
}

@media (min-height: 620px) {
  .social_media_container {
    bottom: 20.0rem
  }
}